**/spv/*
**/autogen/*
**/build/*
**/_auto*/*
**/externals/*
**/.obsidian/
_Build/*
_Install/*
bin_x64/*
downloaded_resources/*
/nvpro_core/
.vscode/**
.vs/
**/nsight-aftermath-usage-guidelines.txt
**/LICENSE
